{% load staticfiles %}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Plezalnik</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel=" stylesheet " href="{% static 'css/style.css'%} ">


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 square highlight">
                <a href="../gradeletter?user={{ user }}&achievement_type={{ style }}&grade_no=4"><img class="circle" src="{% static 'img/4.png' %}">
                </a>
            </div>
            <div class="col-xs-6 square highlight">
                <a href="../gradeletter?user={{ user }}&achievement_type={{ style }}&grade_no=5"><img class="circle" src="{% static 'img/5.png' %}">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 square highlight">
                <a href="../gradeletter?user={{ user }}&achievement_type={{ style }}&grade_no=6"><img class="circle" src="{% static 'img/6.png' %}">
                </a>
            </div>
            <div class="col-xs-6 square highlight">
                <a href="../gradeletter?user={{ user }}&achievement_type={{ style }}&grade_no=7"><img class="circle" src="{% static 'img/7.png' %}">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 square highlight">
                <a href="../gradeletter?user={{ user }}&achievement_type={{ style }}&grade_no=8"><img class="circle" src="{% static 'img/8.png' %}">
                </a>
            </div>
            <div class="col-xs-6 square highlight">
                <a href="../gradeletter?user={{ user }}&achievement_type={{ style }}&grade_no=9"><img class="circle" src="{% static 'img/9.png' %}">
                </a>
            </div>
        </div>
        <div class="row gray">
            <div class="col-xs-4 rectangle ">a</div>
            <div class="col-xs-4 rectangle ">b</div>
            <div class="col-xs-4 rectangle ">c</div>
        </div>
        <div class="row ">
            <div class="col-xs-6 ">
                <a href="../plezalnik"><img class="repeat" src="{% static 'img/repeat.png' %}">
                </a>
            </div>
            <div class="col-xs-6 ">
                <img class="repeat" src="{% static 'img/lockgray.png' %}">
            </div>
        </div>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js "></script>
    <script src="js/script.js "></script>
</body>

</html>